.card-item {
    background: #fff;
    border: none;
    box-shadow: 0 3px 8px 0 rgba(115, 143, 147, .4);
    padding: 20px;
    transition: box-shadow 0.3s;

    .card-title {
        font-size: 24px;
    }

    .card-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }

    &:hover {
        box-shadow: 0 6px 16px 0 rgba(115, 143, 147, .5);
    }

    .btn {
        display: inline-block;
        min-width: 150px;
        height: auto;
        padding: 10px 20px;

        &:focus, &:active {
            text-decoration: none;
        }
    }
}