.logo-H {
    display: inline-block;
    width: 35px;
    
    svg {
        width: 100%;
        stroke: #126e32;
        background: #39424e;
        transition: background 0.5s;
    }

    path {
        fill: #f3f7f7;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
        stroke-dasharray: 259 259;
        stroke-dashoffset: -259;
        transition: stroke-dashoffset 1s, fill 0.5s 1s;
    }

    &:hover {
        svg {
            background: #f3f7f7;
        
            path {
                fill: #1ba94c;
                stroke-dashoffset: 0;
            }
        }
    }
}