body {
    &.is-landing-page {
        background: map-get($palette, primary-light) !important;
        overflow: hidden;
        position: relative;

        #root {
            height: 100%;
        }

        .main-layout {
            display: flex;
            flex-direction: column;
            height: 100%;

            .landing-page-container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }    
        }

        .avatar-area {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .avatar {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 5px solid map-get($palette, dark);
            background: #fff;
            padding: 35px;

            path {
                fill: map-get($palette, dark);
            }

            .avatar-svg {
                width: 100%;
            }

            #avatar-wheel.is-active {
                transform-origin: 84.25% 16%;
                animation: avatarWheel 10s linear infinite;
            }

            @keyframes avatarWheel {
                0% { transform: rotate(0) }
                100% { transform: rotate(360deg) }
            }

            #avatar-circle.is-active {
                animation: avatarCircle 1s linear infinite alternate;
            }

            @keyframes avatarCircle {
                0% { transform: translateY(0) }
                20% { transform: translateY(10%) }
                40% { transform: translateY(5%) }
                60% { transform: translateY(10%) }
                80% { transform: translateY(7%) }
                100% { transform: translateY(10%) }
            }
        }

        .avatar-name {
            font-size: 1.5em;
            color: map-get($palette, dark);
            font-weight: bold;
            padding: 10px 20px;
            width: 200px;
            margin: 20px auto 0 auto;
            background: #fff;
            text-align: center;
            border: 2px solid map-get($palette, dark);
            position: relative;
            animation: avatarName 1s;
        }

        @keyframes avatarName {
            0% { opacity: 0; left: 200px; text-indent: -800px }
            100% { opacity: 1; left: 0; text-indent: 0 }
        }

        .avatar-title {
            font-size: 3em;
            font-weight: bold;
            color: map-get($palette, dark);
            letter-spacing: 1px;
            white-space: nowrap;
            position: relative;
            animation: avatarTitle 1s;

            @media (max-width: 479px) {
                font-size: 2em;
                margin-top: 20px;
            }
        }

        @keyframes avatarTitle {
            0% { transform: scaleX(2); opacity: 0 }
            100% { transform: scaleX(1); opacity: 1 }
        }
    }
}