/******************** VARIABLES ********************/
/******************** GRID ********************/
/******************** COLOR ********************/
/******************** FORM ********************/
/******************** VENDORS ********************/
@import url(../fonts/fontawesome/css/all.min.css);
/******************** COMPONENTS ********************/
/* 	RESET CSS
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-size: 14px;
  color: #738f93 !important; }

.pageHeader {
  background: linear-gradient(135deg, #193b84 15%, #037bc1);
  padding: 20px; }
  .pageHeader .pageTitle {
    color: #fff;
    font-size: 24px;
    font-weight: bold; }

.section {
  padding: 50px 20px; }

.tuci-inputGroup .ant-alert {
  display: inline-block;
  padding: 2px 10px !important;
  border-radius: 2px !important;
  font-size: 0.9em;
  color: #f5222d; }

.ant-input {
  border-radius: 2px !important; }

.ant-btn {
  border-radius: 2px !important; }

.bg-primary {
  background: #1ba94c !important; }

.bg-error {
  background: #f5222d !important; }

.bg-success {
  background: #0c6 !important; }

/********** SPACE **********/
.p0 {
  padding: 0px !important; }

.pt0 {
  padding-top: 0px !important; }

.pr0 {
  padding-right: 0px !important; }

.pb0 {
  padding-bottom: 0px !important; }

.pl0 {
  padding-left: 0px !important; }

.m0 {
  margin: 0px !important; }

.mt0 {
  margin-top: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.ml0 {
  margin-left: 0px !important; }

.p5 {
  padding: 5px !important; }

.pt5 {
  padding-top: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.m5 {
  margin: 5px !important; }

.mt5 {
  margin-top: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.p10 {
  padding: 10px !important; }

.pt10 {
  padding-top: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.m10 {
  margin: 10px !important; }

.mt10 {
  margin-top: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.p15 {
  padding: 15px !important; }

.pt15 {
  padding-top: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.m15 {
  margin: 15px !important; }

.mt15 {
  margin-top: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.p20 {
  padding: 20px !important; }

.pt20 {
  padding-top: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.m20 {
  margin: 20px !important; }

.mt20 {
  margin-top: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.p25 {
  padding: 25px !important; }

.pt25 {
  padding-top: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.m25 {
  margin: 25px !important; }

.mt25 {
  margin-top: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.p30 {
  padding: 30px !important; }

.pt30 {
  padding-top: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.m30 {
  margin: 30px !important; }

.mt30 {
  margin-top: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.p35 {
  padding: 35px !important; }

.pt35 {
  padding-top: 35px !important; }

.pr35 {
  padding-right: 35px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pl35 {
  padding-left: 35px !important; }

.m35 {
  margin: 35px !important; }

.mt35 {
  margin-top: 35px !important; }

.mr35 {
  margin-right: 35px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.ml35 {
  margin-left: 35px !important; }

.p40 {
  padding: 40px !important; }

.pt40 {
  padding-top: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.m40 {
  margin: 40px !important; }

.mt40 {
  margin-top: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.p45 {
  padding: 45px !important; }

.pt45 {
  padding-top: 45px !important; }

.pr45 {
  padding-right: 45px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pl45 {
  padding-left: 45px !important; }

.m45 {
  margin: 45px !important; }

.mt45 {
  margin-top: 45px !important; }

.mr45 {
  margin-right: 45px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.ml45 {
  margin-left: 45px !important; }

.p50 {
  padding: 50px !important; }

.pt50 {
  padding-top: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.m50 {
  margin: 50px !important; }

.mt50 {
  margin-top: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

/********** TEXT **********/
.lh1 {
  line-height: 1; }

.text-bold {
  font-weight: bold !important; }

.text-italic {
  font-style: italic !important; }

.text-underline {
  text-decoration: underline; }

.text-remove {
  text-decoration: line-through; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-camelcase {
  text-transform: capitalize !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.align-middle {
  vertical-align: middle; }

.align-top {
  vertical-align: top; }

.align-bottom {
  vertical-align: bottom; }

/********** OVERFLOW **********/
.ovf-h {
  overflow: hidden; }

.ovf-x {
  overflow-x: auto; }

.ovf-y {
  overflow-y: auto; }

/********** POSITION **********/
.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.pos-center {
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.pos-center-x {
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.pos-center-y {
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.m0auto {
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

/********** OTHER **********/
.d-block {
  display: block; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-table {
  display: table; }

.d-cell {
  display: table-cell; }

.w100p {
  width: 100%; }

.h100p {
  height: 100%; }

.maxw100p {
  max-width: 100%; }

.maxh100p {
  max-height: 100%; }

.cell-50 {
  min-width: 50px;
  max-width: 50px; }

.cell-100 {
  min-width: 100px;
  max-width: 100px; }

.cell-150 {
  min-width: 150px;
  max-width: 150px; }

.cell-200 {
  min-width: 200px;
  max-width: 200px; }

.cell-250 {
  min-width: 250px;
  max-width: 250px; }

.cell-300 {
  min-width: 300px;
  max-width: 300px; }

.cell-350 {
  min-width: 350px;
  max-width: 350px; }

.cell-400 {
  min-width: 400px;
  max-width: 400px; }

.cell-450 {
  min-width: 450px;
  max-width: 450px; }

.cell-500 {
  min-width: 500px;
  max-width: 500px; }

.list-decimal > li {
  list-style: decimal inside; }

/********** DISPLAY **********/
@media screen and (min-width: 320px) {
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; }
  .hide-from-xs {
    display: none; } }

@media screen and (max-width: 319px) {
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; }
  .hide-xs {
    display: none; } }

@media screen and (min-width: 480px) {
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; }
  .hide-from-sm {
    display: none; } }

@media screen and (max-width: 479px) {
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; }
  .hide-sm {
    display: none; } }

@media screen and (min-width: 640px) {
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; }
  .hide-from-md {
    display: none; } }

@media screen and (max-width: 639px) {
  .hide-md {
    display: none; }
  .hide-md {
    display: none; }
  .hide-md {
    display: none; }
  .hide-md {
    display: none; }
  .hide-md {
    display: none; }
  .hide-md {
    display: none; }
  .hide-md {
    display: none; }
  .hide-md {
    display: none; }
  .hide-md {
    display: none; }
  .hide-md {
    display: none; }
  .hide-md {
    display: none; }
  .hide-md {
    display: none; } }

@media screen and (min-width: 768px) {
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; }
  .hide-from-lg {
    display: none; } }

@media screen and (max-width: 767px) {
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; }
  .hide-lg {
    display: none; } }

@media screen and (min-width: 1024px) {
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; }
  .hide-from-xl {
    display: none; } }

@media screen and (max-width: 1023px) {
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; }
  .hide-xl {
    display: none; } }

@media screen and (min-width: 1200px) {
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; }
  .hide-from-xxl {
    display: none; } }

@media screen and (max-width: 1199px) {
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; }
  .hide-xxl {
    display: none; } }

body {
  background: #09c; }

.box-megaSelect {
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }
  .box-megaSelect .box-header {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center; }
    .box-megaSelect .box-header span {
      width: 50%;
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .box-megaSelect .box-header input[type='text'] {
      width: 100%; }
    .box-megaSelect .box-header.v02 {
      background: #ccf2ff; }
      .box-megaSelect .box-header.v02 span {
        width: 100%; }
  .box-megaSelect .megaSelect-options {
    border-top: 2px solid #09c;
    border-bottom: 2px solid #09c; }
  .box-megaSelect .box-row {
    padding: 10px 0; }
  .box-megaSelect ul {
    max-height: 220px;
    overflow-y: auto; }
    .box-megaSelect ul::-webkit-scrollbar {
      width: 10px; }
    .box-megaSelect ul::-webkit-scrollbar-track {
      background: #e1e1e1; }
    .box-megaSelect ul::-webkit-scrollbar-thumb {
      background: #09c; }
    .box-megaSelect ul::-webkit-scrollbar-thumb:hover {
      background: #09c; }
    .box-megaSelect ul li {
      border-bottom: 1px solid #ccc;
      cursor: pointer; }
      .box-megaSelect ul li:last-child {
        border-bottom: none; }
      .box-megaSelect ul li:hover {
        background: #ccf2ff; }
  .box-megaSelect .option {
    display: flex;
    align-items: center; }
    .box-megaSelect .option span {
      padding: 5px 10px; }
      .box-megaSelect .option span.icon {
        padding: 10px;
        color: #09c;
        text-align: center; }
      .box-megaSelect .option span:first-child {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .box-megaSelect .option span input {
        width: 100%; }

input[type='radio'] {
  cursor: pointer; }

.radio-group.group-inline .input-radio {
  display: inline-block;
  margin-right: 20px; }

.input-radio input[type="radio"] {
  display: none; }
  .input-radio input[type="radio"]:checked + label:before {
    border: 1px solid #09c;
    background: #09c;
    box-shadow: inset 0 0 0 4px #fff; }

.input-radio label {
  position: relative;
  padding-left: 25px;
  margin: 0;
  cursor: pointer;
  min-height: 1em; }
  .input-radio label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #fff; }

.box-input {
  padding: 5px 10px;
  position: relative;
  z-index: 100; }
  .box-input input {
    width: 100%;
    background: none;
    border: none;
    outline: none; }
    .box-input input + .span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #ccc;
      z-index: -100; }
    .box-input input:focus + .span {
      border: 1px solid #09c;
      box-shadow: 0 0 5px 0 rgba(0, 102, 153, 0.5); }
  .box-input.box-line input + .span {
    border: none;
    border-bottom: 2px solid #09c;
    box-shadow: none !important; }

.box-append .box-input, .box-append .icon {
  display: table-cell; }

.box-append .box-input {
  width: 100%; }

.box-append .icon {
  color: #fff;
  background: #09c;
  cursor: pointer;
  padding: 0 10px; }

.table-area {
  overflow-x: auto; }

table {
  background: #fff; }

.money-table {
  min-width: 500px; }

.btn.btn-default, .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  background: #1ba94c;
  border-color: #1ba94c;
  box-shadow: 0 4px 12px 0 rgba(27, 169, 76, 0.5); }

.card-item {
  background: #fff;
  border: none;
  box-shadow: 0 3px 8px 0 rgba(115, 143, 147, 0.4);
  padding: 20px;
  transition: box-shadow 0.3s; }
  .card-item .card-title {
    font-size: 24px; }
  .card-item .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline; }
  .card-item:hover {
    box-shadow: 0 6px 16px 0 rgba(115, 143, 147, 0.5); }
  .card-item .btn {
    display: inline-block;
    min-width: 150px;
    height: auto;
    padding: 10px 20px; }
    .card-item .btn:focus, .card-item .btn:active {
      text-decoration: none; }

.logo-H {
  display: inline-block;
  vertical-align: middle;
  line-height: 1; }

.ant-menu {
  padding: 5px 0 !important;
  background: #39424e !important;
  border: none !important;
  overflow: hidden;
  position: relative;
  z-index: 999999; }
  .ant-menu .ant-menu-item {
    border-bottom: none !important;
    vertical-align: middle !important;
    line-height: 1 !important;
    padding-bottom: 0 !important;
    height: auto !important; }
    .ant-menu .ant-menu-item.ant-menu-item-active a, .ant-menu .ant-menu-item.ant-menu-item-selected a {
      color: #fff !important; }
    .ant-menu .ant-menu-item a {
      color: #b7c9cc !important;
      font-weight: bold; }

.ant-menu-submenu-title {
  color: #b7c9cc;
  font-size: 2em;
  font-weight: bold; }
  .ant-menu-submenu-title:hover {
    color: #fff !important; }

.ant-menu-submenu {
  border: none !important; }
  .ant-menu-submenu .ant-menu-sub {
    margin-top: -8px;
    background: #39424e !important;
    color: #b7c9cc;
    border-radius: 0 !important;
    padding: 0 !important; }
    .ant-menu-submenu .ant-menu-sub .ant-menu-item {
      background: none !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important; }

.logo-H {
  display: inline-block;
  width: 35px; }
  .logo-H svg {
    width: 100%;
    stroke: #126e32;
    background: #39424e;
    transition: background 0.5s; }
  .logo-H path {
    fill: #f3f7f7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dasharray: 259 259;
    stroke-dashoffset: -259;
    transition: stroke-dashoffset 1s, fill 0.5s 1s; }
  .logo-H:hover svg {
    background: #f3f7f7; }
    .logo-H:hover svg path {
      fill: #1ba94c;
      stroke-dashoffset: 0; }

.breadcrumb-area {
  padding: 20px;
  background: #fff; }
  .breadcrumb-area a:hover {
    color: #1ba94c !important; }

/******************** GRID ********************/
.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

.row > .column {
  float: left;
  display: block;
  width: 100%; }

.list-inline {
  font-size: 0; }

.list-inline > .column {
  float: none;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 1rem !important; }

/********** GRID INLINE **********/
.list-1 > .column {
  width: 100%;
  font-size: 0; }

.list-2 > .column {
  width: 50%;
  font-size: 0; }

.list-3 > .column {
  width: 33.33333%;
  font-size: 0; }

.list-4 > .column {
  width: 25%;
  font-size: 0; }

.list-5 > .column {
  width: 20%;
  font-size: 0; }

.list-6 > .column {
  width: 16.66667%;
  font-size: 0; }

.list-7 > .column {
  width: 14.28571%;
  font-size: 0; }

.list-8 > .column {
  width: 12.5%;
  font-size: 0; }

.list-9 > .column {
  width: 11.11111%;
  font-size: 0; }

.list-10 > .column {
  width: 10%;
  font-size: 0; }

.list-11 > .column {
  width: 9.09091%;
  font-size: 0; }

.list-12 > .column {
  width: 8.33333%;
  font-size: 0; }

@media screen and (min-width: 320px) {
  .list-1-xs > .column {
    width: 100%; }
  .list-2-xs > .column {
    width: 50%; }
  .list-3-xs > .column {
    width: 33.33333%; }
  .list-4-xs > .column {
    width: 25%; }
  .list-5-xs > .column {
    width: 20%; }
  .list-6-xs > .column {
    width: 16.66667%; }
  .list-7-xs > .column {
    width: 14.28571%; }
  .list-8-xs > .column {
    width: 12.5%; }
  .list-9-xs > .column {
    width: 11.11111%; }
  .list-10-xs > .column {
    width: 10%; }
  .list-11-xs > .column {
    width: 9.09091%; }
  .list-12-xs > .column {
    width: 8.33333%; } }

@media screen and (min-width: 480px) {
  .list-1-sm > .column {
    width: 100%; }
  .list-2-sm > .column {
    width: 50%; }
  .list-3-sm > .column {
    width: 33.33333%; }
  .list-4-sm > .column {
    width: 25%; }
  .list-5-sm > .column {
    width: 20%; }
  .list-6-sm > .column {
    width: 16.66667%; }
  .list-7-sm > .column {
    width: 14.28571%; }
  .list-8-sm > .column {
    width: 12.5%; }
  .list-9-sm > .column {
    width: 11.11111%; }
  .list-10-sm > .column {
    width: 10%; }
  .list-11-sm > .column {
    width: 9.09091%; }
  .list-12-sm > .column {
    width: 8.33333%; } }

@media screen and (min-width: 640px) {
  .list-1-md > .column {
    width: 100%; }
  .list-2-md > .column {
    width: 50%; }
  .list-3-md > .column {
    width: 33.33333%; }
  .list-4-md > .column {
    width: 25%; }
  .list-5-md > .column {
    width: 20%; }
  .list-6-md > .column {
    width: 16.66667%; }
  .list-7-md > .column {
    width: 14.28571%; }
  .list-8-md > .column {
    width: 12.5%; }
  .list-9-md > .column {
    width: 11.11111%; }
  .list-10-md > .column {
    width: 10%; }
  .list-11-md > .column {
    width: 9.09091%; }
  .list-12-md > .column {
    width: 8.33333%; } }

@media screen and (min-width: 768px) {
  .list-1-lg > .column {
    width: 100%; }
  .list-2-lg > .column {
    width: 50%; }
  .list-3-lg > .column {
    width: 33.33333%; }
  .list-4-lg > .column {
    width: 25%; }
  .list-5-lg > .column {
    width: 20%; }
  .list-6-lg > .column {
    width: 16.66667%; }
  .list-7-lg > .column {
    width: 14.28571%; }
  .list-8-lg > .column {
    width: 12.5%; }
  .list-9-lg > .column {
    width: 11.11111%; }
  .list-10-lg > .column {
    width: 10%; }
  .list-11-lg > .column {
    width: 9.09091%; }
  .list-12-lg > .column {
    width: 8.33333%; } }

@media screen and (min-width: 1024px) {
  .list-1-xl > .column {
    width: 100%; }
  .list-2-xl > .column {
    width: 50%; }
  .list-3-xl > .column {
    width: 33.33333%; }
  .list-4-xl > .column {
    width: 25%; }
  .list-5-xl > .column {
    width: 20%; }
  .list-6-xl > .column {
    width: 16.66667%; }
  .list-7-xl > .column {
    width: 14.28571%; }
  .list-8-xl > .column {
    width: 12.5%; }
  .list-9-xl > .column {
    width: 11.11111%; }
  .list-10-xl > .column {
    width: 10%; }
  .list-11-xl > .column {
    width: 9.09091%; }
  .list-12-xl > .column {
    width: 8.33333%; } }

@media screen and (min-width: 1200px) {
  .list-1-xxl > .column {
    width: 100%; }
  .list-2-xxl > .column {
    width: 50%; }
  .list-3-xxl > .column {
    width: 33.33333%; }
  .list-4-xxl > .column {
    width: 25%; }
  .list-5-xxl > .column {
    width: 20%; }
  .list-6-xxl > .column {
    width: 16.66667%; }
  .list-7-xxl > .column {
    width: 14.28571%; }
  .list-8-xxl > .column {
    width: 12.5%; }
  .list-9-xxl > .column {
    width: 11.11111%; }
  .list-10-xxl > .column {
    width: 10%; }
  .list-11-xxl > .column {
    width: 9.09091%; }
  .list-12-xxl > .column {
    width: 8.33333%; } }

/********** GRID FLOAT **********/
.row > .column-1 {
  width: 8.33333%; }

.row > .column-2 {
  width: 16.66667%; }

.row > .column-3 {
  width: 25%; }

.row > .column-4 {
  width: 33.33333%; }

.row > .column-5 {
  width: 41.66667%; }

.row > .column-6 {
  width: 50%; }

.row > .column-7 {
  width: 58.33333%; }

.row > .column-8 {
  width: 66.66667%; }

.row > .column-9 {
  width: 75%; }

.row > .column-10 {
  width: 83.33333%; }

.row > .column-11 {
  width: 91.66667%; }

.row > .column-12 {
  width: 100%; }

@media screen and (min-width: 320px) {
  .row > .column-1-xs {
    width: 8.33333%; }
  .row > .column-2-xs {
    width: 16.66667%; }
  .row > .column-3-xs {
    width: 25%; }
  .row > .column-4-xs {
    width: 33.33333%; }
  .row > .column-5-xs {
    width: 41.66667%; }
  .row > .column-6-xs {
    width: 50%; }
  .row > .column-7-xs {
    width: 58.33333%; }
  .row > .column-8-xs {
    width: 66.66667%; }
  .row > .column-9-xs {
    width: 75%; }
  .row > .column-10-xs {
    width: 83.33333%; }
  .row > .column-11-xs {
    width: 91.66667%; }
  .row > .column-12-xs {
    width: 100%; } }

@media screen and (min-width: 480px) {
  .row > .column-1-sm {
    width: 8.33333%; }
  .row > .column-2-sm {
    width: 16.66667%; }
  .row > .column-3-sm {
    width: 25%; }
  .row > .column-4-sm {
    width: 33.33333%; }
  .row > .column-5-sm {
    width: 41.66667%; }
  .row > .column-6-sm {
    width: 50%; }
  .row > .column-7-sm {
    width: 58.33333%; }
  .row > .column-8-sm {
    width: 66.66667%; }
  .row > .column-9-sm {
    width: 75%; }
  .row > .column-10-sm {
    width: 83.33333%; }
  .row > .column-11-sm {
    width: 91.66667%; }
  .row > .column-12-sm {
    width: 100%; } }

@media screen and (min-width: 640px) {
  .row > .column-1-md {
    width: 8.33333%; }
  .row > .column-2-md {
    width: 16.66667%; }
  .row > .column-3-md {
    width: 25%; }
  .row > .column-4-md {
    width: 33.33333%; }
  .row > .column-5-md {
    width: 41.66667%; }
  .row > .column-6-md {
    width: 50%; }
  .row > .column-7-md {
    width: 58.33333%; }
  .row > .column-8-md {
    width: 66.66667%; }
  .row > .column-9-md {
    width: 75%; }
  .row > .column-10-md {
    width: 83.33333%; }
  .row > .column-11-md {
    width: 91.66667%; }
  .row > .column-12-md {
    width: 100%; } }

@media screen and (min-width: 768px) {
  .row > .column-1-lg {
    width: 8.33333%; }
  .row > .column-2-lg {
    width: 16.66667%; }
  .row > .column-3-lg {
    width: 25%; }
  .row > .column-4-lg {
    width: 33.33333%; }
  .row > .column-5-lg {
    width: 41.66667%; }
  .row > .column-6-lg {
    width: 50%; }
  .row > .column-7-lg {
    width: 58.33333%; }
  .row > .column-8-lg {
    width: 66.66667%; }
  .row > .column-9-lg {
    width: 75%; }
  .row > .column-10-lg {
    width: 83.33333%; }
  .row > .column-11-lg {
    width: 91.66667%; }
  .row > .column-12-lg {
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .row > .column-1-xl {
    width: 8.33333%; }
  .row > .column-2-xl {
    width: 16.66667%; }
  .row > .column-3-xl {
    width: 25%; }
  .row > .column-4-xl {
    width: 33.33333%; }
  .row > .column-5-xl {
    width: 41.66667%; }
  .row > .column-6-xl {
    width: 50%; }
  .row > .column-7-xl {
    width: 58.33333%; }
  .row > .column-8-xl {
    width: 66.66667%; }
  .row > .column-9-xl {
    width: 75%; }
  .row > .column-10-xl {
    width: 83.33333%; }
  .row > .column-11-xl {
    width: 91.66667%; }
  .row > .column-12-xl {
    width: 100%; } }

@media screen and (min-width: 1200px) {
  .row > .column-1-xxl {
    width: 8.33333%; }
  .row > .column-2-xxl {
    width: 16.66667%; }
  .row > .column-3-xxl {
    width: 25%; }
  .row > .column-4-xxl {
    width: 33.33333%; }
  .row > .column-5-xxl {
    width: 41.66667%; }
  .row > .column-6-xxl {
    width: 50%; }
  .row > .column-7-xxl {
    width: 58.33333%; }
  .row > .column-8-xxl {
    width: 66.66667%; }
  .row > .column-9-xxl {
    width: 75%; }
  .row > .column-10-xxl {
    width: 83.33333%; }
  .row > .column-11-xxl {
    width: 91.66667%; }
  .row > .column-12-xxl {
    width: 100%; } }

/********** WRAPPER **********/
.wrap-xs {
  padding: 0 15px; }

@media screen and (min-width: 320px) {
  .wrap-xs {
    max-width: 320px;
    padding: 0;
    margin: 0 auto; } }

.wrap-sm {
  padding: 0 15px; }

@media screen and (min-width: 480px) {
  .wrap-sm {
    max-width: 480px;
    padding: 0;
    margin: 0 auto; } }

.wrap-md {
  padding: 0 15px; }

@media screen and (min-width: 640px) {
  .wrap-md {
    max-width: 640px;
    padding: 0;
    margin: 0 auto; } }

.wrap-lg {
  padding: 0 15px; }

@media screen and (min-width: 768px) {
  .wrap-lg {
    max-width: 768px;
    padding: 0;
    margin: 0 auto; } }

.wrap-xl {
  padding: 0 15px; }

@media screen and (min-width: 1024px) {
  .wrap-xl {
    max-width: 1024px;
    padding: 0;
    margin: 0 auto; } }

.wrap-xxl {
  padding: 0 15px; }

@media screen and (min-width: 1200px) {
  .wrap-xxl {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto; } }

/******************** PAGES ********************/
body.is-landing-page {
  background: #74e99c !important;
  overflow: hidden;
  position: relative; }
  body.is-landing-page #root {
    height: 100%; }
  body.is-landing-page .main-layout {
    display: flex;
    flex-direction: column;
    height: 100%; }
    body.is-landing-page .main-layout .landing-page-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
  body.is-landing-page .avatar-area {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  body.is-landing-page .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #39424e;
    background: #fff;
    padding: 35px; }
    body.is-landing-page .avatar path {
      fill: #39424e; }
    body.is-landing-page .avatar .avatar-svg {
      width: 100%; }
    body.is-landing-page .avatar #avatar-wheel.is-active {
      transform-origin: 84.25% 16%;
      animation: avatarWheel 10s linear infinite; }

@keyframes avatarWheel {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
    body.is-landing-page .avatar #avatar-circle.is-active {
      animation: avatarCircle 1s linear infinite alternate; }

@keyframes avatarCircle {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(10%); }
  40% {
    transform: translateY(5%); }
  60% {
    transform: translateY(10%); }
  80% {
    transform: translateY(7%); }
  100% {
    transform: translateY(10%); } }
  body.is-landing-page .avatar-name {
    font-size: 1.5em;
    color: #39424e;
    font-weight: bold;
    padding: 10px 20px;
    width: 200px;
    margin: 20px auto 0 auto;
    background: #fff;
    text-align: center;
    border: 2px solid #39424e;
    position: relative;
    animation: avatarName 1s; }

@keyframes avatarName {
  0% {
    opacity: 0;
    left: 200px;
    text-indent: -800px; }
  100% {
    opacity: 1;
    left: 0;
    text-indent: 0; } }
  body.is-landing-page .avatar-title {
    font-size: 3em;
    font-weight: bold;
    color: #39424e;
    letter-spacing: 1px;
    white-space: nowrap;
    position: relative;
    animation: avatarTitle 1s; }
    @media (max-width: 479px) {
      body.is-landing-page .avatar-title {
        font-size: 2em;
        margin-top: 20px; } }

@keyframes avatarTitle {
  0% {
    transform: scaleX(2);
    opacity: 0; }
  100% {
    transform: scaleX(1);
    opacity: 1; } }

.skills-area {
  max-width: 800px;
  margin: 0 auto; }

.skill-group {
  background: #fff;
  padding: 20px;
  border: 2px solid #e7e7e7; }
  .skill-group:not(:first-child) {
    border-top: none; }
  .skill-group:hover {
    background: #EAF8FC !important; }
  .skill-group .skill-point {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px; }
  .skill-group .skill-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 5em;
    height: 5em;
    min-width: 5em;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    position: relative; }
    .skill-group .skill-svg svg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50%;
      margin-left: -50%;
      transform-origin: center;
      transform: rotate(-90deg);
      z-index: 100; }
    .skill-group .skill-svg .circle-1, .skill-group .skill-svg .circle-2 {
      fill: transparent;
      stroke: #ccc;
      stroke-width: 5; }
    .skill-group .skill-svg .circle-2 {
      stroke: #099;
      stroke-dasharray: 314.159265359;
      stroke-dashoffset: 314.159265359;
      transition: stroke-dashoffset 2s; }
  .skill-group .skill-bar {
    display: table-cell;
    width: 100%;
    height: 5px;
    background: #ccc;
    position: relative;
    z-index: 100; }
    .skill-group .skill-bar > span {
      display: block;
      width: 0;
      height: 5px;
      background: #099;
      position: relative;
      transition: 2s; }
      .skill-group .skill-bar > span .skill-icon {
        display: block;
        width: 2em;
        position: absolute;
        right: -1em;
        top: calc(50% - 1em); }
  .skill-group .skill-info-list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0; }
    .skill-group .skill-info-list .skill-info {
      text-align: center;
      margin: 0 5px;
      opacity: 0;
      margin-bottom: 20px;
      transition: margin-bottom 0.5s, opacity 0.5s; }
      .skill-group .skill-info-list .skill-info.is-active {
        opacity: 1;
        margin-bottom: 0; }
    .skill-group .skill-info-list .skill-info-title {
      display: inline-block;
      background: #fff;
      padding: 5px;
      margin-bottom: 5px;
      border: 2px solid #39424e;
      border-radius: 4px;
      text-align: center; }
    .skill-group .skill-info-list .skill-info-img {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      overflow: hidden;
      padding: 5px;
      margin: 0 auto;
      background: #fff;
      border: 2px solid #39424e; }
      .skill-group .skill-info-list .skill-info-img img {
        width: 100%; }

body {
  background: #f3f7f7 !important; }

.tuci-box {
  max-width: 500px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2); }

.ant-select-selection {
  border-radius: 2px !important; }
  .ant-select-selection .span-icon {
    display: none; }

.ant-select-dropdown {
  border-radius: 2px !important; }
  .ant-select-dropdown .ant-select-dropdown-menu {
    border-radius: 2px !important;
    overflow: hidden; }
  .ant-select-dropdown .ant-select-dropdown-menu-item {
    border-radius: 0 !important; }
    .ant-select-dropdown .ant-select-dropdown-menu-item span {
      display: table-cell; }
      .ant-select-dropdown .ant-select-dropdown-menu-item span:first-child {
        width: 100%; }
    .ant-select-dropdown .ant-select-dropdown-menu-item .anticon {
      font-size: 1.2em;
      color: #09c;
      margin-left: 10px; }

.ant-tabs-nav {
  width: 100%; }
  .ant-tabs-nav .ant-tabs-tab {
    width: 25%;
    margin: 0 !important;
    text-align: center; }
    .ant-tabs-nav .ant-tabs-tab:first-child {
      width: 50%;
      padding: 0 !important; }
      .ant-tabs-nav .ant-tabs-tab:first-child span {
        display: inline-block;
        width: 50%;
        padding: 12px 16px !important; }
        .ant-tabs-nav .ant-tabs-tab:first-child span.is-active {
          color: #fff;
          background: #1ba94c; }

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .card-list .card-info {
    width: 100%; }
  .card-list .card-item {
    width: calc(33.33% - 80px/3);
    margin-bottom: 40px;
    position: relative;
    overflow: hidden; }
    @media (max-width: 767px) {
      .card-list .card-item {
        width: calc(50% - 20px/2); } }
    @media (max-width: 479px) {
      .card-list .card-item {
        width: 100%; } }
    .card-list .card-item .card-tag {
      position: absolute;
      top: -1rem;
      right: -1rem;
      bottom: 0;
      left: 0;
      background-size: 5rem;
      background-repeat: no-repeat;
      background-position: top right; }
      .card-list .card-item .card-tag.angular {
        background-image: url("../images/angular-icon.png"); }
      .card-list .card-item .card-tag.reactjs {
        background-image: url("../images/reactjs-icon.png"); }
      .card-list .card-item .card-tag.vuejs {
        background-image: url("../images/vuejs-icon.png"); }
      .card-list .card-item .card-tag.graphql {
        background-image: url("../images/graphql-icon.png"); }
      .card-list .card-item .card-tag.game {
        background-image: url("../images/game-icon.png"); }
      .card-list .card-item .card-tag.algorithm {
        background-image: url("../images/algorithm-icon.png"); }
      .card-list .card-item .card-tag:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.9); }
    .card-list .card-item .card-body {
      position: relative;
      z-index: 100; }
  .card-list .ant-input-group-wrapper {
    margin-bottom: 20px; }
    .card-list .ant-input-group-wrapper .ant-input-group-addon {
      cursor: pointer; }

.level-bar {
  width: 100%;
  line-height: 0; }
  .level-bar > li {
    display: inline-block;
    width: calc((100% - 20px)/3);
    height: 6px;
    background: #c2c7d0;
    margin-right: 10px;
    border-radius: 3px / 50%;
    position: relative;
    overflow: hidden; }
    .level-bar > li:last-child {
      margin-right: 0; }
    .level-bar > li > span {
      width: 0;
      background: linear-gradient(90deg, #f8bc36, #f9d641);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .level-bar > li:nth-child(2) > span {
      left: -100%; }
    .level-bar > li:nth-child(3) > span {
      left: -200%; }

.event-list-area {
  display: flex;
  position: relative; }
  .event-list-area:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: #bdbdbd;
    position: absolute;
    top: 0;
    left: calc(50% - 0.5px); }
  .event-list-area .event-list {
    width: 50%; }
    .event-list-area .event-list.column-right {
      padding-top: 300px; }

.event-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative; }
  .event-list > .event-cell {
    display: block;
    padding: 40px; }
  .event-list .card-item {
    padding: 0; }
  .event-list .event-header, .event-list .event-body {
    padding: 20px; }
    .event-list .event-header pre, .event-list .event-body pre {
      white-space: pre-wrap;
      word-break: break-all; }
  .event-list .event-header {
    display: table;
    width: 100%;
    background: #d65050;
    position: relative; }
    .event-list .event-header:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #d65050;
      transform: rotate(45deg);
      position: absolute;
      top: calc(50% - 10px); }
    .event-list .event-header:after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #bdbdbd;
      box-shadow: 0 0 5px 5px #fff;
      position: absolute;
      top: calc(50% - 5px); }
  .event-list.column-left .event-header:before {
    border-bottom-color: transparent;
    border-left-color: transparent;
    right: -10px; }
  .event-list.column-left .event-header:after {
    left: calc(100% + 40px - 5px); }
  .event-list.column-right .event-header:before {
    border-top-color: transparent;
    border-right-color: transparent;
    left: -10px; }
  .event-list.column-right .event-header:after {
    right: calc(100% + 40px - 5px); }
  .event-list .cell-2 .event-header {
    background: #53d7b8; }
    .event-list .cell-2 .event-header:before {
      border-color: transparent transparent #53d7b8 #53d7b8; }
  .event-list .cell-3 .event-header {
    background: #f2994a; }
    .event-list .cell-3 .event-header:before {
      border-color: #f2994a #f2994a transparent transparent; }
  .event-list .cell-4 .event-header {
    background: #53a7d7; }
    .event-list .cell-4 .event-header:before {
      border-color: transparent transparent #53a7d7 #53a7d7; }
  .event-list .event-number, .event-list .event-time, .event-list .event-location {
    color: #fff; }
  .event-list .event-number-area, .event-list .event-title-area {
    display: table-cell;
    vertical-align: middle; }
  .event-list .event-number-area {
    width: 1%; }
  .event-list .event-number {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2); }
  .event-list .event-title-area {
    padding: 0 20px; }
  .event-list .event-location {
    font-size: 1.5rem;
    font-weight: normal !important; }

@media (min-width: 768px) {
  .event-list-area {
    max-width: 900px;
    margin: 0 auto; }
  .event-list > .event-cell:nth-child(2n) {
    display: none; } }

@media (max-width: 767px) {
  .event-list-area {
    max-width: 400px;
    margin: 0 auto; }
  .event-list-area:before, .event-header:before, .event-header:after {
    display: none !important; }
  .event-list.column-right {
    display: none; }
  .event-list.column-left {
    width: 100%; }
    .event-list.column-left .event-cell {
      padding: 20px 0; } }

.collections-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .collections-list .list-item {
    width: calc(25% - 60px/3);
    border-radius: 2px;
    border: 1px solid #037bc1;
    background: #93d6fd;
    margin-bottom: 20px; }
  .collections-list .list-item-link {
    display: block;
    color: #013b5d;
    padding: 10px; }

@media screen and (max-width: 1024px) {
  .collections-list .list-item {
    width: calc(100%/3 - 40px/2); } }

@media screen and (max-width: 640px) {
  .collections-list .list-item {
    width: 100%; } }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* CUSTOM SCROLLBAR FOR CHATBOX */
.chat-body::-webkit-scrollbar {
  width: 0.125rem; }

.chat-body::-webkit-scrollbar-thumb {
  background: #CFD8DC; }

.chat-body::-webkit-scrollbar-thumb:hover {
  background: #B0BEC5; }

/* INPUT TEXT PLACEHOLDER CUSTOMIZE */
::-webkit-input-placeholder {
  color: #B0BEC5; }

::-moz-placeholder {
  color: #B0BEC5; }

:-ms-input-placeholder {
  color: #B0BEC5; }

:-moz-placeholder {
  color: #B0BEC5; }

.chatbox-wrapper {
  max-width: 100%;
  /*  LOADING MESSAGE CSS */ }
  .chatbox-wrapper .chatbox {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .chatbox-wrapper .chat-header {
    background: #E91E63;
    border-radius: 0.25rem;
    color: #fff;
    padding: 0.5rem 1rem 0.75rem 1rem;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0.25rem 2rem rgba(233, 30, 99, 0.5); }
    .chatbox-wrapper .chat-header .anticon {
      margin-right: 0.5rem; }
      .chatbox-wrapper .chat-header .anticon svg {
        width: 1rem;
        height: 1rem; }
    .chatbox-wrapper .chat-header .icon-close {
      display: none;
      position: absolute;
      top: 0.65rem;
      right: 0.5rem;
      cursor: pointer; }
  .chatbox-wrapper .chat-body {
    display: flex;
    flex-direction: column;
    height: 20rem;
    margin: 0;
    overflow-y: auto; }
    .chatbox-wrapper .chat-body .message-list {
      flex-grow: 1;
      position: relative;
      list-style-type: none;
      padding: 1rem;
      padding-bottom: 0;
      margin-bottom: 0; }
    .chatbox-wrapper .chat-body .message-row {
      position: relative;
      list-style: none;
      display: block;
      margin: 1rem 0;
      margin-bottom: 2rem;
      transition: 0.5s all; }
      .chatbox-wrapper .chat-body .message-row:after {
        display: table;
        content: '';
        clear: both; }
  .chatbox-wrapper .msg {
    max-width: 85%;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    word-break: break-all; }
  .chatbox-wrapper .msg.v1 {
    float: right;
    background-color: #E91E63;
    color: #fff;
    border-bottom-right-radius: 0; }
  .chatbox-wrapper .msg.v2 {
    float: left;
    background-color: #ECEFF1;
    color: #607D8B;
    border-bottom-left-radius: 0; }
  .chatbox-wrapper .msg.load {
    background-color: #F8BBD0;
    border-bottom-left-radius: 0; }
  .chatbox-wrapper .msg > span {
    font-weight: 500;
    position: absolute; }
  .chatbox-wrapper .msg > span.partner {
    color: #B0BEC5;
    top: -1rem;
    font-size: 0.7rem; }
  .chatbox-wrapper .msg > span.time {
    color: #CFD8DC;
    font-size: 0.7rem;
    bottom: -1rem; }
  .chatbox-wrapper .msg.v1 > span {
    right: 0; }
  .chatbox-wrapper .msg.v2 > span {
    left: 0; }
  .chatbox-wrapper .msg-text {
    margin: 0;
    word-break: break-all;
    white-space: pre-wrap; }
  .chatbox-wrapper .sendbox {
    position: relative; }
    .chatbox-wrapper .sendbox .msg-input {
      display: block;
      background: transparent;
      width: 100%;
      border: none;
      padding: 0.5rem 1rem;
      line-height: 1.25rem;
      border-top: 2px solid #ECEFF1;
      transition: 0.5s ease-in-out;
      border-radius: 0 !important;
      height: 4rem;
      overflow: hidden;
      resize: none; }
    .chatbox-wrapper .sendbox .msg-input:hover,
    .chatbox-wrapper .sendbox .msg-input:focus,
    .chatbox-wrapper .sendbox .msg-input:active {
      outline: none !important;
      border-top: 2px solid #E91E63; }
    .chatbox-wrapper .sendbox .btn-send {
      background: #ECEFF1;
      color: #607D8B;
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 2px;
      right: 0;
      bottom: 0;
      cursor: pointer;
      border: none;
      box-shadow: none;
      outline: none !important;
      font-size: 0.7rem; }
    .chatbox-wrapper .sendbox .icon-message-enter svg {
      width: 1.5rem;
      height: 1.5rem;
      color: #607D8B; }
  .chatbox-wrapper .pending {
    margin: 0 !important;
    min-height: 1.875rem; }
    .chatbox-wrapper .pending .msg {
      background: none;
      padding-left: 0;
      padding-right: 0; }
      .chatbox-wrapper .pending .msg .dot {
        display: inline-block;
        width: 0.375rem;
        height: 0.375rem;
        border-radius: 0.25rem;
        margin-right: 0.125rem; }
      .chatbox-wrapper .pending .msg.v1 .dot {
        background-color: #E91E63; }
      .chatbox-wrapper .pending .msg.v2 .dot {
        background-color: #607D8B; }
      .chatbox-wrapper .pending .msg .dot:nth-last-child(1) {
        animation: loadAnim 1s .2s linear infinite; }
      .chatbox-wrapper .pending .msg .dot:nth-last-child(2) {
        animation: loadAnim 1s .4s linear infinite; }
      .chatbox-wrapper .pending .msg .dot:nth-last-child(3) {
        animation: loadAnim 1s .6s linear infinite; }

@keyframes loadAnim {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(0, -0.25rem); }
  50% {
    transform: translate(0, 0); } }

.full-area {
  display: flex; }
  .full-area .half-area {
    flex: 1;
    padding: 1rem; }
  .full-area .contact-me-info h1 {
    color: #fff;
    text-align: center; }

body.is-contact-page {
  background: url("https://www.fscaconference.org/images/bg/pattern/memphis-colorful.png") !important; }

.contact-page .main-content {
  padding: 40px 0; }

.contact-me-area {
  margin: 0 auto;
  max-width: 700px;
  position: relative;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #607D8B; }
  .contact-me-area > .mask-area {
    display: block;
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    z-index: 100;
    background: linear-gradient(30deg, #ef5d8d, #E91E63);
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem 0.25rem rgba(38, 50, 56, 0.25);
    transition: 0.5s; }
    .contact-me-area > .mask-area .half-area {
      transition: 0.5s; }
    .contact-me-area > .mask-area .full-area {
      width: 200%;
      height: 100%; }

.get-in-touch-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center; }
  .get-in-touch-area .get-in-touch-title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .get-in-touch-area .get-in-touch-subtitle {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    min-height: 7rem; }
  .get-in-touch-area .btn-switch {
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    width: 12rem;
    margin: 0 auto;
    cursor: pointer;
    transition: background 0.5s; }
    .get-in-touch-area .btn-switch:hover {
      color: #E91E63;
      background: #fff; }

.contact-me-header {
  display: inline-block;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 50px solid #E91E63; }
  .contact-me-header .contact-me-header-title {
    color: #E91E63;
    font-size: 1.5rem;
    font-weight: bold; }
  .contact-me-header .contact-me-header-subtitle {
    color: #607D8B; }

.contact-info-item {
  margin-bottom: 1rem; }
  .contact-info-item dt {
    color: #ee4c83; }
  .contact-info-item dd {
    color: #607D8B; }

.half-area {
  overflow: hidden; }

.half-inner {
  position: relative;
  transition: 0.7s cubic-bezier(0.24, 0.81, 0.69, 1.08); }

@media (min-width: 768px) {
  .is-left .left-half .half-inner {
    left: 120%; }
  .is-left .right-half .half-inner {
    right: 0; }
  .is-left .mask-area {
    left: -1rem;
    right: 50%; }
    .is-left .mask-area > .full-area > .half-area {
      position: relative;
      left: 0; }
  .is-right .left-half .half-inner {
    left: 0; }
  .is-right .right-half .half-inner {
    right: 120%; }
  .is-right .mask-area {
    left: 50%;
    right: -1rem; }
    .is-right .mask-area > .full-area > .half-area {
      position: relative;
      left: -50%; } }

@media (max-width: 767px) {
  .contact-me-area {
    margin-left: 20px;
    margin-right: 20px; }
  .get-in-touch-area {
    justify-content: flex-start; }
  .mask-area {
    position: relative !important;
    width: calc(100% - 2rem);
    margin: 0 auto;
    margin-bottom: 2rem; }
  .is-left .left-half .half-inner {
    animation: leftHalfIn 0.5s; }
  .is-left .right-half {
    display: none; }
    .is-left .right-half .half-inner {
      animation: rightHalfIn 0.5s reverse; }
  .is-left .mask-area > .full-area > .half-area {
    position: relative;
    left: -50%; }
  .is-right .left-half {
    display: none; }
    .is-right .left-half .half-inner {
      animation: leftHalfIn 0.5s reverse; }
  .is-right .right-half .half-inner {
    animation: rightHalfIn 0.5s; }
  .is-right .mask-area > .full-area > .half-area {
    position: relative;
    left: 0; } }

@keyframes leftHalfIn {
  0% {
    left: 120%; }
  100% {
    left: 0; } }

@keyframes rightHalfIn {
  0% {
    right: 120%; }
  100% {
    right: 0; } }

.admin-sidebar-area {
  width: 200px;
  color: #b7c9cc;
  background: #39424e;
  position: fixed;
  padding-top: 57px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; }
  .admin-sidebar-area .admin-sidebar-list .admin-sidebar-list-item > span {
    display: block;
    cursor: pointer;
    padding: 10px 20px; }
    .admin-sidebar-area .admin-sidebar-list .admin-sidebar-list-item > span:hover {
      color: #fff;
      background: #1ba94c; }
  .admin-sidebar-area .admin-sidebar-list .admin-sidebar-sublist {
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .admin-sidebar-area .admin-sidebar-list .admin-sidebar-sublist > .admin-sidebar-list-item > span {
      padding-left: 30px; }

/******************** BREADCRUMB ********************/
.admin-main-area {
  padding-left: 200px; }
  .admin-main-area .breadcrumb-area {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd; }

/******************** TABLE ********************/
.table-area {
  margin: 20px; }
  .table-area .ant-table-title, .table-area .ant-table-footer {
    background: #fff; }
  .table-area .table-image {
    width: 50px; }

/******************** FORM ********************/
